/data-json-tracker/data-json
/data-json-tracker/node_modules
/data-json-tracker/package-lock.json
/data-json-tracker/log.txt
/data-json-tracker/.env
package-lock.json
/metadata-updater/node_modules
/metadata-updater/.env